<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a test email!</h1>
    <p>Boy, did it work well!</p>
  </body>
</html>
