<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <html>
      <body>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <%= image_tag('scheme_logo_color.png',  size: "200x51", alt: "Let's Scheme") %>
                </td>
            </tr>
            <tr>
              <td>
                <p>
                  How you doing?
                </p>
                <p>
                  Your colleague <%= @user.name %> has invited you to Scheme!
                </p>
                <p>
                  To accept the invitation, <a href="http://schemeapp.com/#/register">register</a> with this email address: <%= @invite.email %>.
                </p>
                <p>
                  Good Scheming,
                </p>
                <p>
                  Jordan Holliday<br />SVP, User Acquisition
                </p>
                <p>
                  <strong>PS</strong>: Please don't respond to this email! You can reach me (Jordan) at <a href="mailto:jordanholliday@gmail.com">jordanholliday@gmail.com</a>.
                </p>
              </td>
            </tr>
        </table>
      </body>
    </html>

  </body>
</html>
