.app {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: image-url('mineral.jpg');
  /* hide overflow since task container is set to height 100%*/
  overflow: hidden;
}

.app textarea {
  resize: none;
}

.app svg {
  pointer-events: none;
}

.project-detail {
  padding-left: 15px;
}
