.app {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: image-url('mineral.jpg');
  /* hide overflow since task container is set to height 100%*/
  overflow: hidden;
}

.app textarea {
  resize: none;
}

.example-enter {
  min-width: 0px;
}

.example-enter.example-enter-active {
  min-width: 245px;
  transition: min-width .25s
}

.example-leave {
  opacity: 245px;
}

.example-leave.example-leave-active {
  opacity: 0px;
  transition: min-width .25s
}
