@font-face {
    font-family: 'proxima_nova_reg';
    src: font-url('proxima_nova_reg-webfont.eot');
    src: font-url('proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'), font-url('proxima_nova_reg-webfont.ttf') format('truetype'), font-url('proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: font-url('proxima_nova_bold-webfont.eot');
    src: font-url('proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), font-url('proxima_nova_bold-webfont.woff') format('woff'), font-url('proxima_nova_bold-webfont.ttf') format('truetype'), font-url('proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
