.registration-fullscreen {
  background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.login-logo {
  width: 170px;
  margin: 30px auto;
}

.registration-dialog {
  margin: auto;
  background: #fff;
  padding: 45px 90px;
  width: 540px;
  border-radius: 3px;
}

.registration-dialog h1 {
  font-size: 40px;
  text-align: center;
}

.registration-dialog .input {
  margin-top: 25px;
  position: relative;
  width: 320px;
}

.registration-dialog .input label {
  font-size: 12px;
  text-transform: uppercase;
  color: #898E95;
  margin-bottom: 5px;
}

.registration-dialog .input:focus  {
  opacity: 1.0
}

.registration-dialog .input input {
  width: 290px;
  border: 1px solid;
  border-color: #A1A4AA;
  border-radius: 3px;
  padding:11px 10px;
  font-size: 14px;
  color: #1B2432;
  transition: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
  opacity: 0.5;
}

.registration-dialog .input input:focus {
  transition: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
  opacity: 1.0;
}

.registration-dialog form .upload-div {
  box-sizing: border-box;
  float: right;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  border: 1px dashed #898E95;
  position: relative;
  color: #02ceff;
  box-shadow: none;
  transition: .25s;
  transition-property: box-shadow, inherit;
  transition-timing-function: ease;
}

.registration-dialog form .upload-div:hover {
  box-shadow: 0 0 0 2px #02ceff;
  color: #02ceff;
  border: none;
}

.registration-dialog form .upload-div:hover p {
  color: inherit;
}

.registration-dialog form .upload-div p {
  font-family: 'proxima_nova_bold';
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: #898E95;
  text-transform: uppercase;
  font-size: 12px;
}

.registration-dialog .password:after {
  content: "Password must have 6 characters.";
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
  color: #ED4F55;
  font-size: 12px;
  width: 310px;
  }

.registration-dialog .submit button {
  float: right;
  margin: 30px 0 15px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  background: #EFF0F1;
  color: #898E95;
  border: 1px solid;
  border-color: #E1E2E4;
  border-radius: 3px;
}

.registration-dialog .submit button {
  float: right;
  margin: 30px 0 15px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  background: #EFF0F1;
  color: #898E95;
  border: 1px solid;
  border-color: #E1E2E4;
  border-radius: 3px;
}

.registration-dialog .submit button:hover {
  background-color: #02CEFF;
  color: #fff;
  border: #02CEFF 1px solid;
  box-shadow: 0 0 0 3px #80E6FF;
}

/* STYLE ONCE ALL FIELDS PASS VALIDATION
 .registration-dialog .submit button {
  background-color: #1AAFD0;
  color: #fff;
}*/

.registration-dialog svg.confirm {
  position: absolute;
  fill: #37C597;
  transform-origin: 8px 8px;
  width: 16px;
  top: 50%;
  margin-left: 10px;
}


