.project-drawer {
  height: 100vh;
  min-width: 245px;
  max-width: 245px;
  background: #2E3C54;
  padding: 0 15px;
}

.project-drawer ul {
  position: relative;
}

.project-drawer li.drawer-logo,
.project-drawer li.close-drawer {
  padding: 15px 0;
  position: absolute;
  height: 16px;
  top: 0;
}
.project-drawer li.close-drawer {
  right: 0;
  width: 16px;
  fill: #A2B4BC;
}

.project-drawer li.close-drawer:hover {
  fill: #fff;
}

.project-drawer li.drawer-logo {
  left: 0;
  height: 16px;
  width: 150px;
  background: image-url('scheme-logo-color-white-text.png');
  background-size: 140px;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0 7px;
}

/* DRAWER TRANSITIONS*/
.non-drawer-content {
  margin: auto;
  width: 100%;
}

.drawer-transition-enter {
  min-width: 0px;
}

.drawer-transition-enter.drawer-transition-enter-active {
  min-width: 245px;
  transition: min-width .2s linear;
}

.drawer-transition-leave {
  min-width: 245px;
}

.drawer-transition-leave.drawer-transition-leave-active {
  min-width: 0px;
  transition: min-width .2s linear;
}

/*.drawer-transition-enter {
  margin-left: -245px;
}

.drawer-transition-enter.drawer-transition-enter-active {
  margin-left: 0;
  transition: min-width .2s linear;
}

.drawer-transition-leave {
  margin-left: 0;
}

.drawer-transition-leave.drawer-transition-leave-active {
  margin-left: -245px;
  transition: min-width .2s linear;
}*/
