.task-options {
  float: left;
  padding: 0 0 7px 0;
  background: #fff;
  color: #1B2432;
  font-size: 14px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #E1E2E4;
}

.task-options.fpo {
  height: 50px;
  border: none;
}

.task-options .current-assignee {
  margin-left: 15px;
  display: inline-block;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid transparent;
  position: relative;
}


.task-options .current-assignee img {
  float: left;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px inset;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.task-options .current-assignee input {
  display: block;
  height: 30px;
  padding-left: 10px;
}

.task-options .current-assignee:hover {
  border-radius: 19px;
  transition: box-shadow .2s;
  box-shadow: 0 0 0 3px #02ceff;
  color: #02ceff;
}

.task-options .current-assignee.unassigned {
  padding: 2px;
  border-radius: 17px;
  border: 1px solid transparent;
  transition: none;
  color: #898E95;
}

.task-options .current-assignee.unassigned:hover {
  border: 1px dashed #02ceff;
  border-width: 1px;
  box-shadow: none;
  color: #02ceff;
}

.task-options .current-assignee.unassigned svg {
  float: left;
  padding: 5px;
  width: 20px;
  border: 1px dashed #B9BCC0;
  border-radius: 50%;
  fill: #B9BCC0;
  transition: border-style, fill;
  transition-duration: .2s;
}

.task-options .current-assignee.unassigned:hover svg {
  border-style: solid;
  fill: #02ceff;
}

.task-options .assigning .current-assignee,
.task-options .assigning .current-assignee:hover {
  margin-left: 0;
  padding-left: 18px;
  display: inline-block;
  width: 230px;
  border: 1px solid #B9BCC0;
  border-radius: 3px;
  color: #898E95;
}

.task-options .assigning .current-assignee svg,
.task-options .assigning .current-assignee:hover svg {
  border-style: dashed;
  fill: #B9BCC0;
}

.current-assignee .team-user-div {
  position: absolute;
  top: 100%;
  /* -1px on left and right so borders line up with position: relative el*/
  left: -1px;
  right: -1px;
  border: 1px solid #B9BCC0;
  border-radius: 3px;
  background: #fff;
  z-index: 2;
}

.team-user-div {
  padding: 3px 0;
  max-height: 160px;
  overflow-x: hidden;
}

.team-user-div li {
  padding: 10px 0 10px 17px;
  border-bottom: 1px solid #E1E2E4;
}

.team-user-div li:first-child {
  border-top: 1px solid #E1E2E4;
}

.team-user-div li:hover {
  color: #fff;
  background: #41AED2;
}

.team-user-div li img {
}

.team-user-div li label {
  float: left;
  padding-left: 10px;
  margin-top: 1px;
  display: block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-user-div li label.email {
  font-size: 11px;
}

