.task-comment {
  padding: 0 0 20px 17px;
}

.comment-avatar {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

.comment-body {
  float: right;
  font-size: 14px;
  max-width: 435px;
}

.comment-body label {
  color: #1B2432;
  font-family: 'proxima_nova_bold', sans-serif;
}

.comment-body p {
  margin-top: 5px;
}

.comment-date {
  color: #898E95;
  font-family: 'proxima_nova_reg', sans-serif;
  font-size: 11px;
  padding-left: 10px;
}
