<!DOCTYPE html>
<html>
<head>
  <title>Scheme</title>
  <link href="/assets/scheme-favicon.png" rel="shortcut icon" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="scheme-body">

<%= yield %>

</body>
</html>
